In [1]:
import pymongo

In [2]:
moclient = pymongo.MongoClient("mongodb://localhost:27017/")

### database/collection is not created unless a document(record) inserted

In [4]:
mydb = moclient["mydatabase"]

In [5]:
moclient.list_database_names()

['admin', 'config', 'local']

In [6]:
mycol = mydb["customers"]

In [7]:
mydb.list_collection_names()

[]

In [8]:
mydict = {"name": "john", "address": "High 32"}

## insert document(record)

In [9]:
x = mycol.insert_one(mydict)

In [10]:
moclient.list_database_names()

['admin', 'config', 'local', 'mydatabase']

In [11]:
mydb.list_collection_names()

['customers']

In [13]:
x.inserted_id

ObjectId('5fcfd4ef32af828c2437a3b5')

In [14]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

In [15]:
x = mycol.insert_many(mylist)

In [16]:
x.inserted_ids

[ObjectId('5fcfd71632af828c2437a3b6'),
 ObjectId('5fcfd71632af828c2437a3b7'),
 ObjectId('5fcfd71632af828c2437a3b8'),
 ObjectId('5fcfd71632af828c2437a3b9'),
 ObjectId('5fcfd71632af828c2437a3ba'),
 ObjectId('5fcfd71632af828c2437a3bb'),
 ObjectId('5fcfd71632af828c2437a3bc'),
 ObjectId('5fcfd71632af828c2437a3bd'),
 ObjectId('5fcfd71632af828c2437a3be'),
 ObjectId('5fcfd71632af828c2437a3bf'),
 ObjectId('5fcfd71632af828c2437a3c0'),
 ObjectId('5fcfd71632af828c2437a3c1')]

In [17]:
mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

In [18]:
x = mycol.insert_many(mylist)

In [19]:
x.inserted_ids

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

## select document

In [20]:
mycol.find_one()

{'_id': ObjectId('5fcfd4ef32af828c2437a3b5'),
 'name': 'john',
 'address': 'High 32'}

In [23]:
for x in mycol.find():
    print(x)

{'_id': ObjectId('5fcfd4ef32af828c2437a3b5'), 'name': 'john', 'address': 'High 32'}
{'_id': ObjectId('5fcfd71632af828c2437a3b6'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5fcfd71632af828c2437a3b7'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5fcfd71632af828c2437a3b8'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5fcfd71632af828c2437a3b9'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5fcfd71632af828c2437a3ba'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5fcfd71632af828c2437a3bb'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5fcfd71632af828c2437a3bc'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5fcfd71632af828c2437a3bd'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5fcfd71632af828c2437a3be'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5fcfd71632af828c2437a3bf'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5fcfd71632af828c2437a3c0'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5fcfd71632af828c2437a3c1'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [25]:
for x in mycol.find({}, {"_id":0, "name":1, "address":1}):
    print(x)

{'name': 'john', 'address': 'High 32'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

### just specify 0's or 1's (except  _id)

In [27]:
for x in mycol.find({}, {"name":0, "address":1}):
    print(x)

OperationFailure: Cannot do inclusion on field address in exclusion projection, full error: {'ok': 0.0, 'errmsg': 'Cannot do inclusion on field address in exclusion projection', 'code': 31253, 'codeName': 'Location31253'}

## Query

In [32]:
for x in mycol.find({"_id":4}):
    print(x)

{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}

In [44]:
mycol.find({"_id":4}).count(), mycol.find({"_id":4}).next()

<ipython-input-44-f60c7c32825a>:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  mycol.find({"_id":4}).count(), mycol.find({"_id":4}).next()

(1, {'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'})

## find with predefined regex

In [46]:
 for x in mycol.find({"_id":{"$gt":5}}):
        print(x)

{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [49]:
x= mycol.find({"_id":{"$gt":5}})
list(x)

[{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'},
 {'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'},
 {'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'},
 {'_id': 9, 'name': 'Susan', 'address': 'One way 98'},
 {'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'},
 {'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'},
 {'_id': 12, 'name': 'William', 'address': 'Central st 954'},
 {'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'},
 {'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}]

## Find with regex

In [50]:
x= mycol.find({"address":{"$regex":"^S"}})
list(x)

[{'_id': ObjectId('5fcfd71632af828c2437a3bb'),
  'name': 'Richard',
  'address': 'Sky st 331'},
 {'_id': ObjectId('5fcfd71632af828c2437a3c1'),
  'name': 'Viola',
  'address': 'Sideway 1633'},
 {'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'},
 {'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}]

## Sort acsending or descending

In [55]:
list(mycol.find().sort("_id", -1))

[{'_id': ObjectId('5fcfd71632af828c2437a3c1'),
  'name': 'Viola',
  'address': 'Sideway 1633'},
 {'_id': ObjectId('5fcfd71632af828c2437a3c0'),
  'name': 'Chuck',
  'address': 'Main Road 989'},
 {'_id': ObjectId('5fcfd71632af828c2437a3bf'),
  'name': 'William',
  'address': 'Central st 954'},
 {'_id': ObjectId('5fcfd71632af828c2437a3be'),
  'name': 'Ben',
  'address': 'Park Lane 38'},
 {'_id': ObjectId('5fcfd71632af828c2437a3bd'),
  'name': 'Vicky',
  'address': 'Yellow Garden 2'},
 {'_id': ObjectId('5fcfd71632af828c2437a3bc'),
  'name': 'Susan',
  'address': 'One way 98'},
 {'_id': ObjectId('5fcfd71632af828c2437a3bb'),
  'name': 'Richard',
  'address': 'Sky st 331'},
 {'_id': ObjectId('5fcfd71632af828c2437a3ba'),
  'name': 'Betty',
  'address': 'Green Grass 1'},
 {'_id': ObjectId('5fcfd71632af828c2437a3b9'),
  'name': 'Sandy',
  'address': 'Ocean blvd 2'},
 {'_id': ObjectId('5fcfd71632af828c2437a3b8'),
  'name': 'Michael',
  'address': 'Valley 345'},
 {'_id': ObjectId('5fcfd71632af828c2437a3b7'),
  'name': 'Hannah',
  'address': 'Mountain 21'},
 {'_id': ObjectId('5fcfd71632af828c2437a3b6'),
  'name': 'Amy',
  'address': 'Apple st 652'},
 {'_id': ObjectId('5fcfd4ef32af828c2437a3b5'),
  'name': 'john',
  'address': 'High 32'},
 {'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'},
 {'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'},
 {'_id': 12, 'name': 'William', 'address': 'Central st 954'},
 {'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'},
 {'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'},
 {'_id': 9, 'name': 'Susan', 'address': 'One way 98'},
 {'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'},
 {'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'},
 {'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'},
 {'_id': 5, 'name': 'Michael', 'address': 'Valley 345'},
 {'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'},
 {'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'},
 {'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'},
 {'_id': 1, 'name': 'John', 'address': 'Highway 37'}]

## delete

In [56]:
mycol.delete_one({"_id":1})

## Update

In [57]:
x = mycol.update_one({"_id":2},{"$set":{"address": "Marand"}})

TypeError: 'UpdateResult' object is not iterable

## limit

In [61]:
list(mycol.find().limit(3))

[{'_id': ObjectId('5fcfd4ef32af828c2437a3b5'),
  'name': 'john',
  'address': 'High 32'},
 {'_id': ObjectId('5fcfd71632af828c2437a3b6'),
  'name': 'Amy',
  'address': 'Apple st 652'},
 {'_id': ObjectId('5fcfd71632af828c2437a3b7'),
  'name': 'Hannah',
  'address': 'Mountain 21'}]